

.two{
    padding: 50px 145px;
    width: 100%;
    background-image: url("../images/plan_bg.png");
}

.two .A .col-auto img{
    width: 100%;
    border: solid white 25px;
    padding: 0;
}

.mm

.mm{
    padding: 5px 150px;
}

.KL{
    font-size: 20px;
    margin-bottom: 10px;
}

.ff{
    margin: auto;
    width: 80%;
    color: white;
}

.dd{
    background-color: #f8d98f;
    padding: 80px 35px;
}