.A1 {
    padding: 30px 50px;
}
.seven .B .S{
    max-width: none;
}
.Fd{
    padding: 0 15px;
}
.two{
    padding: 30px 15px;
}

.mm{
    padding: 0 100px;
}

.first img{
    left: 45%;
}
.two{
    padding-top: 95px;
}

