p{
    margin: auto;
    width: 300px;
    border-radius: 15px;
    background-color: rgba(184, 135, 11, 0.356);
}
body{
    margin-top: 35px;
    text-align: center;
    font-size: 35px;
}
button{
    margin-top: 35px;
    border: rgb(143, 140, 140) solid 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 100%;
    padding: 10px 25px;
    font-size: 35px;
}
button:disabled{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.247);
}